* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header */

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: transparent;
}

header .navbar-light .navbar-nav .nav-link {
    transition: 0.3s;
    color: white;
    position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: yellowgreen;
    display: block;
    content: "";
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: yellowgreen;
}

header .navbar-light .navbar-nav .active>.nav-link {
    color: yellowgreen;
}

header .navbar-light .navbar-nav .active>.nav-link::before {
    width: 100%;
}


/*carousel*/

.carousel_bg {
    height: 100vh;
    object-fit: cover;
}

#carousel .carousel-caption {
    bottom: 30%;
}

#carousel .carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#carousel .carousel-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: yellowgreen;
}

#products .item_content {
    border-radius: 20px;
    background: white;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 450px;
    text-align: center;
}

#products .item_content img {
    height: 350px;
    object-fit: over;
}

#products .item_content .title_content {
    padding: 15px;
    border: 1px solid white;
    height: 100px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: white;
    transition: 0.3s;
}

#products .item_content:hover .title_content {
    color: yellowgreen;
    border-color: yellowgreen;
    border-top-color: white;
    cursor: pointer;
}

#available {
    background: url(./image/3.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    background-size: 100%;
    background-position: center;
}

#available_overlays {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#list_item_dad {
    display: flex;
    justify-content: space-between;
}

#list_item_dad #list_item {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: -20px;
    margin-right: -25px;
    padding: 40px 40px;
    border-radius: 16px;
    transition: 0.5s;
}

#list_item_dad #list_item:hover {
    background: #000;
    color: white;
    border: 1px solid white;
}

#list_item_dad #list_item i {
    font-size: 48px;
    color: #35a22c;
    margin-bottom: 20px;
}

#achievement {
    position: relative;
    height: 50vh;
    /* background-position:; */
}

#achive {
    width: 100%;
    background: url(./image/memphis_3.png);
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 100%;
    position: absolute;
}

#box_achivement {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.9);
}

footer hr {
    background-color: gray;
}

.footer_social a {
    border: 1px solid gray;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: gray;
    transition: 0.3s;
}

.footer_social a:hover {
    color: #35a22c;
    border: 1px solid #35a22c;
}